* {
    box-sizing: border-box; /* ширина и поля элементов включают в себя границы ти поля без margin*/
    padding: 0rem;
    margin: 0rem;
}

a {
    text-decoration: none; /* убираем подчеркивание */
    color: black;
} 

body {
    margin: 0rem auto; /* автоматическое центрирование по горизонтали */
    max-width: 1200px; /* ограничиваем максимальную ширину */
    font-family: 'Poppins', sans-serif; /* устанавливаем единый шрифт для всей страницы */
}

h1, h2 {
    margin: 1rem 0rem;
    text-transform: uppercase; /* все буквы большие */
    font-weight: 600; /* шрифт полужирный */
}

li {
    list-style-type: none; /* убираем маркеры у списков */
}

.li-without-side-margin { margin: 2rem 0rem;}

ul {
    margin: 0; /* убираем внешние отступы у списков */
    padding-left: 0; /* отступ слева в браузере Firefox, Safari, Chrome */
}

/* header */
.avatar {
    display: flex;
    flex-direction: row; /* элементы расположены все по горизонтальной линии */
    justify-content: space-around; /* расстояние распределяется равномерно между элементами */
    align-items: flex-end; /* элементы выравниваются по нижней границе */
    flex-grow: 2;
    margin: 0;
}

.contact li {
    font-size: 1.3rem; /* размер шрифта в списке контактов */
    line-height: 3rem; /* расстояние между строчками*/
    font-weight: 300; /* шрифт тоньше обычного*/
}

figure img { width: 50%;} /* ширина фотографии */

figcaption { width: 30%;} /* ширина подписи к фотографии */

header {
    display: flex;
    flex-direction: row;
    background-color: #91A6E5; /* фоновый цвет */
    justify-content: space-around;
    align-items: center; /* по вертикали элементы выравнены по центру */
    padding: 2.5rem; /* внутренний отступ со всех сторон */
    color: #FFFFF3;
}

header a {color: #FFFFF3;}

/* main info */

article {
    margin: 0.5rem 0rem;
    font-size: 1.2rem;
    line-height: 2.3rem;
    text-align: justify;
    word-spacing: 0.3rem;
}

article h2 {
    margin: 1.5rem;
    color: #677ED0;
}

article h4 { margin: 0rem 1.5rem;}

article p { margin: 0rem 1.5rem;}

article li { margin: 0rem 1.5rem;}

.color-box {
    background-color: #6A8BDC;
    color: #FFFFF3;
    padding: 1rem 0rem;
    font-weight: 300;
}

.color-box h2 {color: #FFFFF3;}

section {
    padding: 0rem;
    margin: 0rem;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6B8ADC;
    padding: 1rem 1.5rem; /* 1rem сверху и снизу, 1.5rem слева и справа*/
    color: #FFFFF3;
}

footer a {color: #FFFFF3;}